/*Channels*/
.channels {
    display: none;
    max-height: 696px;
    overflow-y: scroll;
    width: 100%;
    margin-top: 27px;

    &-list {
        &__item {
            height: 162px;
            background-color: $mainGreyColor;
            margin-bottom: 16px;
            border-radius: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__logo-wrap {
            width: 400px;
            height: 162px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
        }

        &__info {
            padding-top: 21px;
            padding-bottom: 19px;
            height: 100%;
        }

        &__channel-title {
            @extend %fontVar1;
            margin-bottom: 17px;
        }

        &__broadcast-list * {
            /*For IE & EDGE*/
            font-weight: normal;
    
            line-height: 19px;
            /**************/
            @extend %fontVar2;

            & * {
                margin-bottom: 12px;
            }
        }

        &__broadcast {
            display: flex;
            flex-direction: row;

            &:first-child {
                color: $mainRedColor;
            }
        }

        &__broadcast-time {
            margin-right: 22px;
        }
    }
}

/*Scrollbar находится в customScrollBar.js*/
#channelsScrollBar {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 8px;
    display: flex;
    justify-content: center;
    transform: translateX(14px);
    -webkit-transform: translateX(14px);
    -moz-transform: translateX(14px);
    -ms-transform: translateX(14px);
    -o-transform: translateX(14px);
}
/*--------------------*/
