/*Footer*/

footer{
    background-color: $mainGreyColor;
    margin-top: 72px;
    padding-top: 22px;
    padding-bottom: 25px;
    box-sizing: border-box;

    .htc{
        display: flex;
        justify-content: flex-start;

        &__logo{
            margin-right: 40px;
        }

        &__info{

            p{
                @extend %fontVar2;
                text-decoration: none;
                line-height: 19px; /*For IE*/
            }
        }
        &__contacts{
            margin-top: 6px;
            margin-bottom: 10px;
            @extend %fontVar2;
        }

        &__site{
            @extend %fontVar3;
            color: $htc-color;
        }
    }
}
/*--------------------*/