/*Main classes*/
body {
    margin: 0 auto;
    background-color: $mainWhiteColor;
    font-family: "Rubik";
    font-style: normal;
    color: $mainBlackColor;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    overflow-x: hidden;
}

.main-—Åontent {
    margin-top: 32px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1180px;
}

.display-block-class{
    display: block !important;
}

.display-none-class{
    display: none !important;
    max-width: 0 !important;
    min-height: 0 !important;
}

button span{
    position: relative;
}
/*--------------------*/