/*Main classes*/
body {
    margin: 0 auto;
    background-color: $mainWhiteColor;
    font-family: "Rubik";
    font-style: normal;
    color: $mainBlackColor;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.main-сontent {
    margin-top: 32px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1180px;
}

.display-block-class {
    display: block !important;
}

.display-none-class {
    display: none !important;
    max-width: 0 !important;
    max-height: 0 !important;
    opacity: 0 !important;
}

button span {
    position: relative;
}

.input-error {
    color: $mainRedColor;
    border-color: $mainRedColor;
}

.input-error::placeholder {
    color: $mainRedColor !important;
}

/*--------------------*/
