.modal-wrap {
    @extend %standartModalWrap;
}

.modal {
    @extend %standartModal;
    background-color: $mainWhiteColor;
    width: 304px;
    height: 394px;

    &__h2-login-data-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__enter-h2 {
        @extend %fontVar4;
        margin-bottom: 24px;
    }

    &__enter-data-wrap {
        display: flex;
        flex-direction: column;

        > input {
            width: 232px;
        }

        * {
            margin-bottom: 24px;
        }
    }

    &__checkbox-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;

        input[type="checkbox"] {
            display: none;
        }

        label {
            @extend %noSelect;
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 25px;
            margin-right: 15px;
            user-select: none;
            pointer-events: none;
        }

        label:before {
            content: "";
            display: inline-block;

            width: 16px;
            height: 16px;

            margin-right: 8px;
            position: absolute;
            left: 0;
            bottom: 1px;
            border: 1px solid $mainBlackColor;
            box-sizing: border-box;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: all;
        }

        input[type="checkbox"]:checked + label:before {
            content: url(/img/checkbox/checkbox-checked.svg);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            font-size: 15px;
            color: #0066ff;
            text-align: center;
            line-height: 15px;
        }
    }

    &__login-btn {
        @extend %fontVar3;
    }
}
