/*Variables*/

@mixin fontVar1 (){
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
%fontVar1 {
    @include fontVar1;
}

@mixin fontVar2 (){
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
%fontVar2 {
    @include fontVar2;
}

@mixin fontVar3 (){
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
}
%fontVar3 {
    @include fontVar3;
}

@mixin fontVar4 (){
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.0625rem;
}
%fontVar4 {
    @include fontVar4;
}

@mixin fontVar5 (){
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
}
%fontVar5 {
    @include fontVar5;
}

@mixin fontVar6 {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
%fontVar6 {
    @include fontVar6;
}

@mixin fontVar7 (){
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.375rem;
}
%fontVar7 {
    @include fontVar7;
}

@mixin gridMoviesGenres (){
    display: flex;
    display: -ms-flexbox; /*For IE & EDGE*/
    min-width: 100%;
    justify-content: space-between;
}
%gridMoviesGenres {
    @include gridMoviesGenres;
}

@mixin noSelect (){
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
%noSelect {
    @include noSelect;
}

@mixin standartModalWrap (){
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 100 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
%standartModalWrap {
    @include standartModalWrap;
}

@mixin standartModal (){
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 36px;
    position: relative;
}
%standartModal {
    @include standartModal;
}



$mainBlackColor: #333333;
$mainRedColor: #e5261e;
$mainWhiteColor: #ffffff;
$mainGreyColor: #f2f2f2;
$secondGreyColor: #bdbdbd;
$htc-color: #1f4766;
/*--------------------*/
